@tailwind base;
@tailwind components;
@tailwind utilities;
@import '~@syncfusion/ej2-base/styles/material.css';
@import '~@syncfusion/ej2-base/styles/material.css';
@import '~@syncfusion/ej2-buttons/styles/material.css';
@import '~@syncfusion/ej2-calendars/styles/material.css';
@import '~@syncfusion/ej2-dropdowns/styles/material.css';
@import '~@syncfusion/ej2-inputs/styles/material.css';
@import '~@syncfusion/ej2-navigations/styles/material.css';
@import '~@syncfusion/ej2-popups/styles/material.css';
@import '~@syncfusion/ej2-splitbuttons/styles/material.css';
@import '~@syncfusion/ej2-lists/styles/material.css';
@import '~@syncfusion/ej2-schedule/styles/material.css';



/* All */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
/* Active */
.active{
    color: #CE00FF;
    background: #FEF7FF;
}  
/* Table */
  th, td {
    text-align: left;
    padding: 8px;
}
.marginbottom{
    margin-bottom: 20px !important;
}
/* Input */
#searchplaceholder::placeholder{
    color: #A686AD;
}
